@tailwind base;
@tailwind components;
@tailwind utilities;

.drawer-side a.active{
    color: white;
}
.drawer-side a{
    background-color: transparent;
}

.lora {
    font-family: 'Lora', serif;
}

.roboto {
    font-family: 'Roboto Slab', serif;
}
.space{
    font-family: 'Space Grotesk', sans-serif;
}
.lilita{
    font-family: 'Lilita One', cursive;
}
.cursive{
    font-family: 'Permanent Marker', cursive;
}
.monospace{
    font-family: 'Inconsolata', monospace;
}